<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background">
    <div class="header-container">
        
        <h1 class="admin-title">Admin</h1>
        
        <div style="padding-right: 20px;">
        <a class="logout-button" href="/logout">Logout</a>
        </div>
    </div>
      
    <h1 style="text-align: center; font-size: 45px; border-top: 2px double #4CAF50; padding-top: 30px;">URL History</h1>
    
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>URL</th>
                    <th>Analysis Summary</th>
                </tr>
            </thead>
            <tbody>
                {% for data in history_data %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ data[0] }}</td>
                        <td>{{ data[1] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
